@import "bootstrap";

body {
background-color: #f2f2f2;
color: #777;
font-family: 'Arimo', Helvetica, Arial, sans-serif;

}

.navbar-default{
  background-color:#4bd2d0;

}

.navbar-default .navbar-brand{
  font-family: georgia, serif;
  font-weight: 400;
  color: #e82c0c;
  font-size: 30px;
}

.navbar-default .navbar-nav li > a{
  font-family: 'Arimo', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #e82c0c;
}

.center{
  text-align: center;
}

.col-md-3:nth-child(4n+1){
  clear: left;
}

.col-md-6{
  h3{ font-size: 45px;}
  h5{ font-size: 25px;}
  p{ font-size:18px;}
}

.caption{
    h3{
        font-size:16px;
        margin: 2px;
   }

    p{
        font-size:12px;
        margin: 0px;
    }
}

.navbar-brand{
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 3px;

}

.thumbnail{
  img{
    background-color: #bfbfbf;
    padding: 4px;
  }
}

.jumbotron{
  //background-image: url('https://dl.dropboxusercontent.com/s/f55dcnxcdcmyan8/jumbotron.jpg');
  
  background-color: #36bbbb;

  h1{
    //font-family: Lobster, serif;
    font-family: "Helvetica Neue", "Arimo", sans-serif;
    color:#ffffff;
    text-shadow: 2px 2px #bbb;
  }
  h3{
    color:#fff;
    font-size: 1.5em;
    br{
      padding: 10px;
    }
  }
  color: #fff;
}
