@import "bootstrap";

body {
background-color: #f2f2f2;
color: #555;
font-family: 'Open Sans','Roboto', Helvetica, Arial, sans-serif;

}

.navbar-default{
  background-color:#36bbbb;

}

.navbar-default .navbar-brand{
  font-family: georgia, serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
}

.navbar-default .navbar-nav li > a{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.center{
  text-align: center;
}

.col-md-3:nth-child(4n+1){
  clear: left;
}

.col-md-6{
  h3{ font-size: 45px;}
  h5{ font-size: 25px;}
  p{ font-size:18px;}
}

.caption{
    h3{
        font-size:16px;
        margin: 2px;
   }

    p{
        font-size:12px;
        margin: 0px;
    }
}

.navbar-brand{
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 3px;

}

.thumbnail{
  img{
    background-color: #bfbfbf;
    padding: 4px;
  }
}

.jumbotron{
  background-image: url('https://dl.dropboxusercontent.com/s/f55dcnxcdcmyan8/jumbotron.jpg');
  h1,h2{
    font-family:Roboto, sans;
  }
  color: #fff;
  text-shadow: 1px 1px 2px #999;
  font-family: Raleway;
}
